{
  "presets": [
      ["react"],
      [
          "es2015", {"modules": false, "loose": true}
      ],
      ["stage-2"],
      ["env"]
  ],
  "plugins": [
      ["transform-runtime","transfrom-vue-jsx"]
  ],
  "comments": false
}
